@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
    font-family: 'Ubuntu', sans-serif;
}

* {
    @apply transition duration-300 ease-out
}

/* COLORS */
.bg-primary {
    @apply bg-slate-800
}

.bg-secondary {
    @apply bg-slate-500
}

.text-primary {
    @apply text-slate-800
}
.text-secondary {
    @apply text-sky-500
}
.text-gray {
    @apply text-slate-300
}

/** utils **/
.btn-primary {
    @apply py-2 px-4 rounded bg-primary text-white border border-slate-800 hover:bg-opacity-75 hover:border-opacity-5 
}
.btn-secondary {
    @apply py-2 px-4 rounded text-slate-600 border border-slate-400 hover:border-opacity-75 
}

/** etc **/
.rectangle-button {
    @apply block h-1.5 w-16 mt-1 rounded
}

.bg-pattern {
    background-color: #4b4b4b;
    opacity: 1;
    background-image:  linear-gradient(#cbcbcb 0.8px, transparent 0.8px), linear-gradient(90deg, #cbcbcb 0.8px, transparent 0.8px), linear-gradient(#4b4b4b 0.4px, transparent 0.4px), linear-gradient(90deg, #cbcbcb 0.4px, #f1f1f1 0.4px);
    background-size: 15px 15px, 15px 15px, 4px 4px, 4px 4px;
    background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px, -0.4px -0.4px;
}

/* .bg-pattern {
    background-color: #1a1a5c;
    opacity: 1;
    background-image:  linear-gradient(#0d1041 0.8px, transparent 0.8px), linear-gradient(90deg, #0d1041 0.8px, transparent 0.8px), linear-gradient(#350659 0.4px, transparent 0.4px), linear-gradient(90deg, #110725 0.4px, #080c2f 0.4px);
    background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
    background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px, -0.4px -0.4px;
} */